.NAME{
    color: red;
    text-align: center;
    background-color: black;
}
h2{
    text-align: center;
    font-size: 40px;
    color:purple;
}
form{
    text-align: center;
    font-size: 99%;    
}
footer{
    width: 100%;
    height: 70px;
    background: green;
    margin-top: 30px;
    text-align: center;
    color: white;
    padding:3px;
    font-size: 40px;
}
footer a{ 
color: white;
}
